[submodule "host-tools/qmsetup"]
	path = host-tools/qmsetup
	url = https://github.com/stdware/qmsetup
[submodule "lib/libpsprobe"]
	path = lib/libpsprobe
	url = https://github.com/RigoLigoRLC/libpsprobe
[submodule "host-tools/qt-json-autogen"]
	path = host-tools/qt-json-autogen
	url = https://github.com/SineStriker/qt-json-autogen
[submodule "lib/Qt-Advanced-Docking-System"]
	path = lib/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "lib/singleapplication"]
	path = lib/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "cmake/corrosion"]
	path = cmake/corrosion
	url = https://github.com/corrosion-rs/corrosion.git
